body{
    background-image: url(assets/bg1.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    text-align: center;
    color: white;
}
section{
    background-color: #2973db ;
    width: 300px;
    height: 470px;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
}
div#numero{
    background-color:#3ca3e4;
    text-align: center;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin: auto;
}
div#resultado{
    background-color: #3ca3e4;
    text-align: center;
    border-radius: 10px;
    height: 240px;
    width: 250px;
    margin: auto;
}
div#status-bar{
    background-color: #3ca3e4;
    text-align: right;
    border-radius: 10px;
    height: 20px;
    width: 250px;
    margin: auto;
}
p#status{
    padding-right: 20px;
    font-weight: bold;

}
p#txtRodape{
    text-align: center;
    color: #fdfdfd;
    font-weight: bold;
}
p#txtResultado{
    text-align: left;
    padding-left: 20px;
}